<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
    <title>Správa knihoven</title>
</head>

<body th:object="${session.userData}">

<div th:replace="fragments/fragments :: header"></div>

<div th:replace="fragments/fragments :: links"></div>

<h3>Vložení nové knihovny příkladů</h3>

<div th:replace="fragments/fragments :: messages"></div>



<p th:text="'Tato stránka je přístupná pouze příhlášeným uživatelům, ostatní jsou přesměrování na stránku přihlášení (/login)'"></p>

<form method="POST" action="/addLibrary" enctype="multipart/form-data">
    <label for="nameFieldId">Jméno knihovny:</label>
    <input type="text" name="name" id="nameFieldId" th:value="${previousLibraryAddAttemptName != null} ? ${previousLibraryAddAttemptName} : ''" placeholder="jméno knihovny" autofocus/>
    <label for="libraryFileInput">Obsah (textový soubor s příklady):</label>
    <input type="file" name="libraryFile" id="libraryFileInput" onchange="checkUploadedFileSize()"/><br/><br/>
    <input type="submit" value="Nahrát" id="formSubmitButton"/>
</form>

</body>

</html>
