<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
    <title>Správa knihoven</title>
</head>

<body th:object="${session.userData}">

<div th:replace="fragments/fragments :: header"></div>

<div th:replace="fragments/fragments :: links"></div>

<h3>Úprava existující knihovny příkladů</h3>

<div th:replace="fragments/fragments :: messages"></div>

<p th:text="'Tato stránka je přístupná pouze příhlášeným uživatelům, ostatní jsou přesměrování na stránku přihlášení (/login)'"></p>


<form method="POST" th:action="@{/deleteLibrary}">
    <input type="hidden" name="libraryId" th:value="${library.id}">
    <input type="button" onclick="showLibraryDeleteConfirmation()" value="Smazat?"/>
    <input id="libraryConfirmDeleteButton" type="submit" value="Potvrdit smazání" style="display: none;"/>
    <input id="libraryCancelDeleteButton" type="button" onclick="hideLibraryDeleteConfirmation()" value="Zrušit" style="display: none;"/>
</form>

<form method="POST" action="/editLibrary" enctype="multipart/form-data" th:object="${library}" accept-charset="utf-8">
    <input type="hidden" name="libraryId" th:value="${libraryId}">

    <label for="nameField">Jméno:</label>
    <input type="text" name="name" id="nameField" th:value="*{name}" autofocus/><br>

    <label for="dateCreatedField">Datum vytvoření:</label>
    <input type="text" id="dateCreatedField" th:value="*{dateCreated}" readonly/><br>

    <label for="dateModifiedField">Datum změny:</label>
    <input type="text" id="dateModifiedField" th:value="*{lastDateModified}" readonly/><br>

    <label for="dateUsedField">Datum posledního použití:</label>
    <input type="text" id="dateUsedField" th:value="*{lastDateUsed}" readonly/><br>

    <label for="publicAccessibilityField">Přístupnost knihovny (oprávnění k použití):</label>
    <select id="publicAccessibilityField" name="publicAccessibility">
        <option value="private" th:selected="*{publicAccessibility.ordinal() == 0}">Soukromá</option>
        <option value="public" th:selected="*{publicAccessibility.ordinal() == 1}">Veřejná</option>
    </select><br>

    <label for="contentSourceTypeField">Vyberte vstup z textového pole nebo ze souboru:</label>
    <select id="contentSourceTypeField" name="contentSourceType">
        <option value="textArea" selected="selected">Textové pole</option>
        <option value="file">Soubor</option>
    </select><br>

    <label for="libraryTextContentsField">Obsah (příklady):</label>
    <textarea name="libraryContentsText" id="libraryTextContentsField" th:field="*{contents}" oninput="setTextFileAccessedFlag()"></textarea><br>

    <label for="libraryFileInput">Obsah ze souboru:</label>
    <input type="file" name="libraryFile" id="libraryFileInput" onchange="checkUploadedFileSize()"/><br><br>

    <input type="hidden" id="textFieldAccessed" name="textFieldAccessed" />

    <input type="submit" value="Uložit" id="formSubmitButton"/>
</form>

</body>

</html>
