<!--/* th:něco je vždycky upravený element nebo property pomocí Thymeleaf */-->
<!--/* https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html */-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd"> <!--/* for perfect browser support */-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--/* A thymeleaf namespace is also being declared for th:* attributes */-->
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <title>Greeting page</title>
</head>

<body>

<div th:replace="fragments/fragments :: header"></div>

<div th:replace="fragments/fragments :: links"></div>

<h3>Greeting page</h3>

<div th:replace="fragments/fragments :: messages"></div>


<!--/* data is obtained using Standard Message Resolver, implemented by class org.thymeleaf.messageresolver.StandardMessageResolver. */-->
<p th:text="#{home.welcome}">This text will be substituted using thymeleaf</p>  <!--/* the "This text..." text is  fully substituted by the th:text value */-->
<p th:utext="#{home.welcome}">This text will be substituted using thymeleaf</p>  <!--/* the text can contain html attributes - "unescaped text" */-->


<p th:text="${today}">This text will be substituted using thymeleaf</p>  <!--/* the text can contain html attributes - "unescaped text" */-->
<!--/* ${today} expression simply means “get the variable today from current WebContext instance” = ctx.getVariables().get("today"); */-->

<!--/* Methods can be called, even with arguments:
    ${person.createCompleteName()}
    ${person.createCompleteNameWithSeparator('-')} */-->

<!--/* more types of syntax: https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#standard-expression-syntax @{} for links etc */-->

<!--/* ${#ctx} selects the context object etc */-->
<!--/* pokud vytvoříme výběr (th:object=...), můžeme k němu pak přistupovat přímo skrze *{property} bez znovudefinování objektu atd */-->

<!--/* how to write links: https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#link-urls */-->


</body>
</html>