<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <title>Cvičebnice analytické geometrie online</title>
</head>

<body>

<div th:replace="fragments/fragments :: header"></div>

<div th:replace="fragments/fragments :: links"></div>

<h1>Vítejte v online cvičebnici analytické geometrie</h1>

<div th:replace="fragments/fragments :: messages"></div>

<p>Tato webová aplikace přenáší původní desktopovou aplikace na web. Po přihlášení navíc umožňuje vytváření a sdílení knihoven příkladů mezi uživateli.</p>
<p>Nepřihlášenému uživateli je k dispozici ukázková knihovna příkladů a také veřejně přístupné knihovny registrovaných uživatelů.</p>
<p>Náhled původního programu:</p>
<p>Pro jeho použití, prosím, pokračujte do sekce "vypočítat příklad"</p>
<img th:src="'img/program.png'" alt="Desktopová aplikace">

</body>
</html>