<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
    <title>Library details</title>
</head>

<body>


<div th:replace="fragments/fragments :: header"></div>

<div th:replace="fragments/fragments :: links"></div>

<h3>Podrobnosti o knihovně</h3>

<div th:replace="fragments/fragments :: messages"></div>


<table class="libraryTable" th:object="${library}">
    <tr>
        <td class="libraryNameCell" th:text="'Název knihovny: ' + ${library.name}" />
    </tr>
    <tr>
        <td class="libraryDetailsCell">
            <p th:text="'Vytvořil: ' + ${libraryCreatorName}" style="display: inline;"></p>
            <form method="get" th:action="@{/userPublic}" style="display: inline;">
                <input type="hidden" name="userId" th:value="${libraryCreatorId}"/>
                <input type="submit" value="Detaily"/>
            </form>
        </td>
    </tr>
    <tr>
        <td class="libraryDetailsCell" th:text="'Datum vytvoření: ' + ${library.dateCreated}" />
    </tr>
    <tr>
        <td class="libraryDetailsCell" th:text="'Datum posledního použití: ' + ${library.lastDateUsed}" />
    </tr>
    <tr>
        <td class="libraryDetailsCell" th:text="'Datum poslední změny: ' + ${library.lastDateModified}" />
    </tr>
    <tr>
        <td class="libraryDetailsCell" th:text="'Počet použití: ' + ${library.usageCount}" />
    </tr>
    <tr>
        <td class="libraryDetailsCell" th:text="'Obsah:'" />
    </tr>
    <tr>
        <td>
            <div class="libraryContents" th:text="${library.contents}"></div>
        </td>
    </tr>
</table>

</body>

</html>
