<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
    <title>Knihovny</title>
</head>


<body th:object="${session.userData}">


<div th:replace="fragments/fragments :: header"></div>

<div th:replace="fragments/fragments :: links"></div>

<h3>Vlastní knihovny</h3>

<div th:replace="fragments/fragments :: messages"></div>


<p th:text="'Tato stránka je přístupná pouze příhlášeným uživatelům, ostatní jsou přesměrování na stránku přihlášení (/login)'"></p>

<button th:onclick="'location.href=\'' + @{/addLibrary} + '\''" type="button">Přidat knihovnu</button>


<p th:if="${libraries.isEmpty()}">Momentálně nevlastníte žádné knihovny</p>
<p th:if="${not libraries.isEmpty()}">Seznam vašich knihoven:</p>


<div class="libraryTablesContainer" th:if="${not libraries.isEmpty()}">
<table class="libraryTable" th:each="library: ${libraries}" id="${library.id}">
    <tr>
        <td class="libraryNameCell" th:text="'Název knihovny: ' + ${library.name}" />
    </tr>
    <tr>
        <td>
            <form method="get" th:action="@{/editLibrary}">
                <input type="hidden" name="libraryId" th:value="${library.id}">
                <input type="submit" value="Upravit"/>
            </form>
            <form method="get" th:action="@{/libraryDetails}">
                <input type="hidden" name="libraryId" th:value="${library.id}">
                <input type="submit" value="Detaily"/>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <button onclick="toggleLibraryContentsVisibility(this)" type="button">Nahlédnout do knihovny</button>
        </td>
    </tr>
    <tr>
        <td>
            <div class="libraryContents" th:text="${library.contents}" style="display: none;"></div>
        </td>
    </tr>
</table>
</div>

</body>

</html>
