<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <title>Přihlášení</title>
</head>
<!-- jak vypisovat objekt ve view: http://itutorial.thymeleaf.org/exercise/12 -->


<body>


<div th:replace="fragments/fragments :: header"></div>

<div th:replace="fragments/fragments :: links"></div>

<h3>Přihlášení</h3>

<div th:replace="fragments/fragments :: messages"></div>



<form method="post" th:action="@{/login}"> <!-- data object musí být vždy přístupný, klidně prázdný -->
    <label for="emailFieldId">Email:</label>
    <!-- pokud už login DTO má zadané data, zobrazí se přímo v login form, aby uživatel nemusel při opravě špatného loginu psát všechno znova, ale při prvním pokusu jsou ty fields prázdné -->
    <input type="email" id="emailFieldId" name="email" th:value="${previousLoginAttemptEmail != null} ? ${previousLoginAttemptEmail} : ''" autofocus> <!-- toto díky bindu na "name=..." volá setter userLoginData na email, címž se naplní ModelAttribute "userLoginData" -->
    <label for="passwordFieldId">Heslo:</label>
    <!-- pokud už login DTO má zadané data, zobrazí se přímo v login form, aby uživatel nemusel při opravě špatného loginu psát všechno znova, ale při prvním pokusu jsou ty fields prázdné -->
    <input type="password" name="password" id="passwordFieldId" th:value="${previousLoginAttemptPassword != null} ? ${previousLoginAttemptPassword} : ''">
    <input type="submit" value="Přihlásit"/>
</form>
</body>

</html>
