<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script type="text/javascript" src="js/jquery.min.3.4.1.js">\x3C/script>')</script>
    <title>Cvičebnice analytické geometrie online</title>
</head>

<body>


<div th:replace="fragments/fragments :: header"></div>

<div th:replace="fragments/fragments :: links"></div>

<h3>Výpočet příkladu</h3>

<div th:replace="fragments/fragments :: messages"></div>


<input type="button" value="Nápověda ke vkládání vstupu"/>
<input type="button" value="Zobrazit návod k vytváření knihovny příkladů"/>
<input th:if="${not T(com.janseris.bp.webApp.ControllerUtilities).isLoggedInUser(#session)}" type="button" value="Přidat ukázkovou knihovnu příkladů do mých knihoven"/>
<input type="button" value="Použít ukázkovou knihovnu"/>
<input type="button" value="Načíst příklad z aktuálně použité knihovny"/>
<input type="button" value="Uložit příklad do některé vlastní knihovny"/>

<div id="text" onclick="crunchifyAjax()">TEST</div>



<div class="contentContainer">
    <p>Vstup pro řešení příkladu / výstup generování zadání</p>
    <div id="solveAssignment" style="display: inline">
        <form method="post">
        <div class="sideBySideElementsContainer">
            <div class="sideBySideElement">
                <label style="display: block" for="subspace1Input">Zadání prvního podprostoru:</label>
                <textarea class="subspaceInput" name="subspace1Input" id="subspace1Input" autofocus></textarea>
                <input type="button" value="Zkontrolovat vstupní formát podprostoru"/>
            </div>
            <div class="sideBySideElement">
                <label style="display: block" for="subspace2Input">Zadání druhého podprostoru:</label>
                <textarea class="subspaceInput" name="subspace2Input" id="subspace2Input"></textarea>
                <input type="button" value="Zkontrolovat vstupní formát podprostoru"/>
            </div>
        </div>

            <label for="assignmentType">Typ úlohy:</label>
            <select id="assignmentType" name="assignmentType">
                <option th:each="taskType : ${T(com.janseris.bp.Constants).solveTaskList}" th:value="${taskType}" th:text="${taskType}"/>
            </select>
            <input type="submit" value="Vyřeš"/>

        </form>
    </div>
</div>

<div class="contentContainer">
    <p>Vstup pro generování zadání</p>
    <div id="generateInput" style="display: inline">
        <form method="post">
            <div class="sideBySideElementsContainer">
            <div class="sideBySideElement">
            <label style="display: block" for="generateType">Typ úlohy:</label>
            <select id="generateType" name="generateType" onchange="generateSubspacesGenerateTaskTypeOptionSelected(this);">
                <option th:each="generateType : ${T(com.janseris.bp.Constants).generateTaskList}" th:value="${generateType}" th:text="${generateType}"/>
            </select>

                <div id="generateSubspaceRelationTypeOption2" style="display: none">

                <label style="display: block" for="relationType">Vzájemná poloha podprostorů:</label>
            <select id="relationType" name="relationType" onchange="generateSubspacesGenerateTaskRelationTypeOptionSelected(this);">
                <option th:each="relationType : ${T(com.janseris.bp.Constants).relationList}" th:value="${relationType}" th:text="${relationType}"/>
            </select>
                </div>

                <div id="generateSubspaceRelationTypeOption2a" style="display: none">
            <!-- vzájemná poloha - různoběžné -->
            <label style="display: block" for="intersectionDimension">Dimenze průniku podprostorů (nepovinné):</label>
                <input type="number" size="4" name="intersectionDimension" id="intersectionDimension"/>
            </div>

                <div id="generateSubspaceRelationTypeOption2b" style="display: none">
                <!-- vzájemná poloha - mimoběžné -->
                <label style="display: block" for="intersectionDimension2">Dimenze průniku zaměření (nepovinné):</label>
            <input type="number" size="4" name="intersectionDimension2" id="intersectionDimension2"/>
                </div>

                <div id="generateSubspaceRelationTypeOption2c" style="display: none">
            <!-- vzájemná poloha - rovnoběžné -->
            <label style="display: block" for="disjointBool">Disjunktní:</label>
            <select id="disjointBool" name="disjointBool">
                <option value="yes">Ano</option>
                <option value="no">Ne</option>
            </select>
                </div>


                <div id="generateSubspaceRelationTypeOption3" style="display: none">
            <!-- s daným průnikem -->
                <label style="display: block" for="intersectionSubspaceInput">Zadání průniku podprostorů:</label>
                <textarea class="subspaceInput" name="intersectionSubspaceInput" id="intersectionSubspaceInput"></textarea>
                <input type="button" value="Zkontrolovat vstupní formát průniku"/>
                </div>

                <div id="generateSubspaceRelationTypeOption4" style="display: none">
            <!-- s danou vzdáleností -->
            <label style="display: block" for="subspacesDistance">Požadovaná vzdálenost:</label>
            <input type="number" size="4" name="subspacesDistance" id="subspacesDistance"/>
                </div>

                <div id="generateSubspaceRelationTypeOption5" style="display: none">
            <!-- s danou odchylkou -->
            <label style="display: block" for="subspacesAngle">Požadovaná odchylka:</label>
            <select id="subspacesAngle" name="subspacesAngle">
                <option th:each="angle : ${T(com.janseris.bp.Constants).angleList}" th:value="${angle}" th:text="${angle}"/>
            </select>
                </div>

        </div> <!-- sideBySideElement -->
                <div class="sideBySideElement">
                    <div class="sideBySideElementsContainer">
                        <div class="sideBySideElement">
                        <p>podprostor 1</p>
                            <div>

                        <input type="radio" id="generatedSubspace1GeneralForm" name="generatedSubspace1Form" value="general"/>
                                <label for="generatedSubspace1GeneralForm">Obecně</label>
                            </div>
                            <div>

                        <input type="radio" id="generatedSubspace1PointNormalForm" name="generatedSubspace1Form" value="pointNormal"/>
                                <label for="generatedSubspace1PointNormalForm">Parametricky</label>
                            </div>
                            <label for="generatedSubspace1Dimension">Dimenze:</label>
                        <input type="number" size="4" name="generatedSubspace1Dimension" id="generatedSubspace1Dimension"/>

                    </div>
                        <div class="sideBySideElement">
                        <p>podprostor 2</p>
                            <div>

                        <input type="radio" id="generatedSubspace2GeneralForm" name="generatedSubspace2Form" value="general"/>
                                <label for="generatedSubspace2GeneralForm">Obecně</label>
                            </div>
                            <div>

                        <input type="radio" id="generatedSubspace2PointNormalForm" name="generatedSubspace2Form" value="pointNormal"/>
                                <label for="generatedSubspace2PointNormalForm">Parametricky</label>
                            </div>
                            <label for="generatedSubspace2Dimension">Dimenze:</label>
                        <input type="number" size="4" name="generatedSubspace2Dimension" id="generatedSubspace2Dimension"/>
                    </div>
                    </div>
                    <label for="generatedSubspacesSpaceDimension">Dimenze celého prostoru</label>
                    <input type="number" size="4" name="generatedSubspacesSpaceDimension" id="generatedSubspacesSpaceDimension"/>
                </div>
             </div>
            <input type="submit" value="Vygeneruj"/>
        </form>
    </div> <!-- generateInput -->
</div>



</body>
</html>