<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
    <title>Veřejné knihovny příkladů</title>
</head>


<body>


<div th:replace="fragments/fragments :: header"></div>

<div th:replace="fragments/fragments :: links"></div>

<h3>Veřejně přístupné knihovny příkladů</h3>

<div th:replace="fragments/fragments :: messages"></div>



<form method="post" th:action="@{/publicLibraries}" style="display: inline;">
    <label for="orderingColumn">Řadit podle:</label>
    <select id="orderingColumn" name="orderingColumn">
        <option value="Library name" selected="selected">Jméno knihovny</option>
        <option value="Creation date">Datum vytvoření</option>
        <option value="Last modification date">Datum změny</option>
        <option value="Last usage date">Datum použití</option>
        <option value="Usage count">Počet použití</option>
    </select>
    <label for="orderingMode">Styl řazení:</label>
    <select id="orderingMode" name="orderingMode">
        <option value="Ascending" selected="selected">Vzestupně &#x279A;</option>
        <option value="Descending">Sestupně &#x2798;</option>
    </select>
    <input type="submit" value="Znovu načíst">
</form>

<p class="errorMessage" th:if="${errorMessage}" th:text="${errorMessage}"></p>

<div th:if="${libraries}">
    <p th:if="${libraries.isEmpty()}">Nejsou k dispozici žádné veřejné knihovny příkladů</p>
    <p th:if="${not libraries.isEmpty()}">Dostupné veřejné knihovny příkladů:</p>


    <div class="libraryTablesContainer" th:if="${not libraries.isEmpty()}">
        <table class="libraryTable" th:each="library: ${libraries}" id="${library.id}">
            <tr>
                <td class="libraryNameCell" th:text="'Název knihovny: ' + ${library.name}" />
            </tr>
            <tr>
                <td class="libraryNameCell" th:text="'Vytvořil: ' + ${library.creatorName}" />
            </tr>
            <tr>
                <td class="libraryNameCell" th:text="'Počet použití: ' + ${library.usageCount}" />
            </tr>
            <tr>
                <td>
                    <form method="get" th:action="@{/libraryDetails}">
                        <input type="hidden" name="libraryId" th:value="${library.id}">
                        <input type="submit" value="Detaily"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="toggleLibraryContentsVisibility(this)" type="button">Ukázat obsah</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="libraryContents" th:text="${library.contents}" style="display: none;"></div>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>

</html>
