<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <title>Registrace</title>
    <script src="mailcheck.min.js"></script> <!-- https://github.com/mailcheck/mailcheck -->
</head>
<!-- jak vypisovat objekt ve view: http://itutorial.thymeleaf.org/exercise/12 -->



<body>


<div th:replace="fragments/fragments :: header"></div>

<div th:replace="fragments/fragments :: links"></div>

<h3>Registrace</h3>

<div th:replace="fragments/fragments :: messages"></div>



<form method="post" th:action="@{/register}">
    <label for="nameFieldId">Jméno:</label>
    <input type="text" id="nameFieldId" name="name" th:value="${previousRegisterAttemptName != null} ? ${previousRegisterAttemptName} : ''" autofocus>
    <label for="emailFieldId">Email (bude použit k přihlášení):</label>
    <input type="email" id="emailFieldId" name="email" th:value="${previousRegisterAttemptEmail != null} ? ${previousRegisterAttemptEmail} : ''">
    <label for="passwordFieldId">Heslo (alespoň 8 znaků):</label>
    <input type="password" id="passwordFieldId" name="password" th:value="${previousRegisterAttemptPassword != null} ? ${previousRegisterAttemptPassword} : ''">
    <input type="submit" value="Zaregistrovat se"/>
</form>
</body>

</html>
