<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Uživatel</title>
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
</head>


<body>


<div th:replace="fragments/fragments :: header"></div>

<div th:replace="fragments/fragments :: links"></div>

<h3>Podrobnosti o uživateli</h3>

<div th:replace="fragments/fragments :: messages"></div>


<div th:if="${userData}" th:object="${userData}">
    <p th:text="'Jméno: ' + *{name}"></p>
    <p th:with="date=*{lastLogInDate}" th:text="'Poslední přhlášení: ' + ${T(com.janseris.bp.webApp.ControllerUtilities).getFormattedDate(date)}"></p>
    <p th:with="date=*{registrationDate}" th:text="'Uživatelem od: ' + ${T(com.janseris.bp.webApp.ControllerUtilities).getFormattedDate(date)}"></p>
</div>
</body>

</html>
