<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
</head>
<body>
<div th:fragment="header">
    <div th:with="userTrackerAttrName=${T(com.janseris.bp.webApp.ControllerUtilities).SESSION_COUNTER_CTX_ATTR_NAME}">
        <p th:text="'Počet uživatelů online: ' + ${#servletContext.getAttribute(userTrackerAttrName).numberOfUsersOnline}" ></p>
        <table>
            <tr th:each="onlineUserInfo: ${#servletContext.getAttribute(userTrackerAttrName).onlineUserEntries}">
                <td th:text="${onlineUserInfo.key.nameShown}" th:style="'border: ' + ${#servletContext.getAttribute(userTrackerAttrName).numberOfUsersOnline} + 'px solid black;'"/>
                <td th:text="${onlineUserInfo.value.id}" th:style="'border: ' + ${#servletContext.getAttribute(userTrackerAttrName).numberOfUsersOnline} + 'px solid black;'"/>
            </tr>
        </table>
    </div>

    <div th:if="${not T(com.janseris.bp.webApp.ControllerUtilities).isLoggedInUser(#session)}">
        <p th:text="'Aktuální uživatel: ' + ${session.anonymousUserName} + '!'" />
    </div>
    <div th:if="${T(com.janseris.bp.webApp.ControllerUtilities).isLoggedInUser(#session)}">
        <p th:text="'Přihlášen(a) jako: ' + ${session.userData.name}"></p>
        <form method="post" th:action="@{/logout}">
            <input type="submit" value="Odhlásit">
        </form>
    </div>
</div>

<div th:fragment="messages">
    <p class="errorMessage" th:if="${errorMessage}" th:utext="${errorMessage}"></p>
    <p class="infoMessage" th:if="${infoMessage}" th:utext="${infoMessage}"></p>
</div>

<div th:fragment="links">
    <div class="linksContainer">
        <a class="link" th:href="@{/}">Hlavní stránka</a>
        <a class="link" th:href="@{/program}">Vypočítat příklad</a>
        <a class="link" th:if="${not T(com.janseris.bp.webApp.ControllerUtilities).isLoggedInUser(#session)}" th:href="@{/login}">Přihlásit</a>
        <a class="link" th:if="${not T(com.janseris.bp.webApp.ControllerUtilities).isLoggedInUser(#session)}" th:href="@{/register}">Zaregistrovat se</a>
        <a class="link" th:if="${T(com.janseris.bp.webApp.ControllerUtilities).isLoggedInUser(#session)}" th:href="@{/user}">Stránka uživatele</a>
        <a class="link" th:if="${T(com.janseris.bp.webApp.ControllerUtilities).isLoggedInUser(#session)}" th:href="@{/libraries}">Spravovat knihovny</a>
        <a class="link" th:href="@{/publicLibraries}">Veřejné knihovny příkladů</a>
</div>
</div>
</body>
</html>