a {
    font-size: medium;
    font-family: "Bookman Old Style";
}

.libraryTablesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0%, 25%)); /* display maximum of 4 tables side by side, each of size 1/4 */
    grid-auto-flow: row;
}

.libraryTable{
    border: 1px solid black;
}

.libraryContents{
    white-space: pre-wrap; /* do not ignore text file newlines */
}

.errorMessage{
    color: crimson;
    font-style: italic;
    font-size: medium;
    font-family: "Bookman Old Style";
}

.infoMessage{
    color: peru;
    font-style: italic;
    font-size: medium;
    font-family: "Bookman Old Style";
}

.libraryNameCell{
    border: thin none purple;
    border-bottom-style: dashed;
}

.link{
    line-height: 1.5;
    margin-right: 10px;
    background-color: darksalmon;
    box-shadow: firebrick 4px 4px 2px;
    text-align: center;
    padding: 10px;
    display: inline;
}

.linksContainer{
    align-items: center;
    display: flex;
    margin-top: 10px;
}

.sideBySideElementsContainer{
    display: flex;
    /*border: 1px double black;*/
}

.sideBySideElement{
    margin-right: 5%;
    /*border: 1px dashed grey;*/
    white-space: nowrap;
}

.contentContainer{
    display: block;
    margin: 0 auto; /*center*/
    width: min-content;
 }

textarea.subspaceInput{
    display: block;
    height: 5em;
    width: 20em;
    font-size: medium;
}