<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
    <link rel="shortcut icon" type="image/png" th:href="'/img/logo16darksalmon.png'"/>
    <title>Správa knihoven</title>
</head>

<body th:object="${session.userData}">
    <div th:replace="fragments/fragments :: backgroundImages"></div>

        <div class="centeredHeader">
            <div th:replace="fragments/fragments :: header"></div>

            <div th:replace="fragments/fragments :: links"></div>
            <div class="centeredContent">
                <h2>Vložení nové knihovny příkladů</h2>
            </div>

            <div th:replace="fragments/fragments :: messages"></div>
        </div>


    <div class="sideBySideElementsContainer" style="position: absolute;">
        <div class="sideBySideElement" id="taskInputHelpWindow" style="display: none">
            <p class="closeButton" onclick="toggleInputHelp();" title="Zavřít">&#x2718;</p>
            <textarea class="programHelpWindow" th:text="${T(com.janseris.bp.Constants).INPUT_HELP_WINDOW_TEXT}">
                    </textarea>
        </div>
        <div class="sideBySideElement" id="libraryHelpWindow" style="display: none">
            <p class="closeButton" onclick="toggleLibraryHelp();" title="Zavřít">&#x2718;</p>
            <textarea class="programHelpWindow" style="width: 50em;" th:text="${T(com.janseris.bp.Constants).ONLINE_LIBRARY_HELPTEXT}">
                    </textarea>
        </div>
    </div>



    <div class="centeredContent">

        <div class="programButtonsContainer">
            <a class="programButton" id="taskInputHelpToggleButton" onclick="toggleInputHelp();">Nápověda - zadávání podprostorů</a>
            <a class="programButton" id="libraryHelpToggleButton" onclick="toggleLibraryHelp();">Nápověda - knihovna příkladů</a>
        </div>


        <form method="POST" th:action="@{/addLibrary}" enctype="multipart/form-data">
            <label for="nameFieldId">Název knihovny:</label>
            <input type="text" name="name" id="nameFieldId" th:value="${previousLibraryAddAttemptName != null} ? ${previousLibraryAddAttemptName} : ''" placeholder="název knihovny" autofocus/>
                <label for="libraryFileInput" class="uploadFileButton">
                    <p class="submitButtonText">Vybrat soubor s příklady</p>
                    <img src="img/txt32.png">
                </label>
                <input style="display: none;" type="file" name="libraryFile" id="libraryFileInput" onchange="checkUploadedFileSize(this)"/>
            <button type="submit" class="submitFormButton" value="Nahrát" id="formSubmitButton">
                <p class="submitButtonText">Nahrát</p>
                <img src="img/uploadFile24.png">
            </button>
        </form>
    </div>
</body>

</html>
