<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
    <link rel="shortcut icon" type="image/png" th:href="'/img/logo16darksalmon.png'"/>
    <title>Správa knihoven</title>
</head>

<body th:object="${session.userData}">
<div th:replace="fragments/fragments :: backgroundImages"></div>
    <div class="centeredHeader">
        <div th:replace="fragments/fragments :: header"></div>

        <div th:replace="fragments/fragments :: links"></div>

        <div class="centeredContent">
            <h2>Úprava existující knihovny příkladů</h2>
        </div>

        <div th:replace="fragments/fragments :: messages"></div>
    </div>

<form method="POST" th:action="@{/deleteLibraryAssignment}">
    <div class="centeredContent">
        <div class="basicFlexContainer" th:if="${library}">

            <div style="display: none;" th:each="assignment : ${library.assignments}" th:id="${'assignment' + assignment.index}">
                <p th:text="${assignment.assignmentTypeIndex}"></p>
                <p th:text="${assignment.subspace1}"></p>
                <p th:text="${assignment.subspace2}"></p>
            </div>

            <label for="libraryAssignmentsList">Příklady:</label>
            <select id="libraryAssignmentsList" onchange="loadAssignment(this)" name="selectedAssignmentIndex"> <!-- with List<AssignmentShowDTO> -->
                <option th:each="assignment : ${library.assignments}" th:value="${assignment.index}" th:text="${assignment.name}"/>
                <!-- on option select: show div with assignment (generated on page load but hidden by default) -->
            </select>

            <div style="display: none;" th:each="assignment : ${library.assignments}" th:id="${'assignment' + assignment.index}">
                <p th:text="${assignment.assignmentTypeIndex}"></p>
                <p th:text="${assignment.subspace1}"></p>
                <p th:text="${assignment.subspace2}"></p>
            </div>

            <button class="inlineSubmitFormButton" type="button" onclick="loadAssignment()">
                <p class="submitButtonTextNoImage">Načíst příklad</p>
            </button>
        </div>
    </div>

    <div class="contentContainer">
        <p>Prostor pro zobrazení příkladu</p>
        <div id="solveAssignment" style="display: inline">
            <div class="sideBySideElementsContainer">
                <div class="sideBySideElement">
                    <label style="display: block" for="subspace1Input">Zadání prvního podprostoru:</label>
                    <textarea class="subspaceInput" name="subspace1Input" id="subspace1Input" readonly></textarea>
                </div>
                <div class="sideBySideElement">
                    <label style="display: block" for="subspace2Input">Zadání druhého podprostoru:</label>
                    <textarea class="subspaceInput" name="subspace2Input" id="subspace2Input" readonly></textarea>
                </div>
            </div>

            <label for="assignmentType">Typ úlohy:</label>
            <select id="assignmentType" name="assignmentType" disabled="disabled">
                <option th:each="taskType : ${T(com.janseris.bp.Constants).solveTaskList}" th:value="${taskType}" th:text="${taskType}" th:selected="${taskType.equals(oldAssignmentTypeSelectedOption)}"/>
            </select>
        </div>
    </div>

    <div class="centeredContent">
        <input type="hidden" name="libraryId" th:value="${library.id}">
        <input type="button" onclick="showLibraryDeleteConfirmation()" value="Smazat tento příklad?"/>
        <input id="libraryConfirmDeleteButton" type="submit" value="Potvrdit smazání" style="display: none;"/>
        <input id="libraryCancelDeleteButton" type="button" onclick="hideLibraryDeleteConfirmation()" value="Zrušit" style="display: none;"/>
    </div>

</form>
</body>

</html>
