<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
    <link rel="shortcut icon" type="image/png" th:href="'/img/logo16darksalmon.png'"/>
    <title>Správa knihoven</title>
</head>

<body th:object="${session.userData}">
<div th:replace="fragments/fragments :: backgroundImages"></div>
    <div class="centeredHeader">
        <div th:replace="fragments/fragments :: header"></div>

        <div th:replace="fragments/fragments :: links"></div>

        <div class="centeredContent">
            <h2>Úprava existující knihovny příkladů</h2>
        </div>

        <div th:replace="fragments/fragments :: messages"></div>
    </div>

    <div class="sideBySideElementsContainer" style="position: absolute;">
        <div class="sideBySideElement" id="taskInputHelpWindow" style="display: none">
            <p class="closeButton" onclick="toggleInputHelp();" title="Zavřít">&#x2718;</p>
            <textarea class="programHelpWindow" th:text="${T(com.janseris.bp.Constants).INPUT_HELP_WINDOW_TEXT}">
            </textarea>
        </div>
        <div class="sideBySideElement" id="libraryHelpWindow" style="display: none">
            <p class="closeButton" onclick="toggleLibraryHelp();" title="Zavřít">&#x2718;</p>
            <textarea class="programHelpWindow" style="width: 50em;" th:text="${T(com.janseris.bp.Constants).ONLINE_LIBRARY_HELPTEXT}">
            </textarea>
        </div>
    </div>

<div class="centeredContent">
    <div class="programButtonsContainer">
        <a class="programButton" id="taskInputHelpToggleButton" onclick="toggleInputHelp();">Nápověda - zadávání podprostorů</a>
        <a class="programButton" id="libraryHelpToggleButton" onclick="toggleLibraryHelp();">Nápověda - knihovna příkladů</a>
    </div>
</div>


    <div class="centeredContent">
        <form method="POST" th:action="@{/editLibrary}" enctype="multipart/form-data" accept-charset="utf-8">
            <table class="libraryTable" th:object="${library}">
                <tr>
                    <td class="libraryNameCell">
                        <div class="basicFlexContainer" style="justify-content: center;">
                            <label for="nameField">Název: </label>
                            <input type="text" name="name" id="nameField" size="30" style="margin-left: 5px;" th:value="*{name}" autofocus/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="libraryId" th:value="${libraryId}">
                        <div class="basicFlexContainer">
                            <button type="submit" class="submitFormButton" th:formaction="@{/downloadLibrary}">
                                <p class="submitButtonText">Stáhnout</p><img src="img/txt32.png">
                            </button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="libraryDetailsCell">
                        <div class="basicFlexContainer">
                            <p class="detailsText">Počet použití: </p>
                            <p class="detailsTextDate" th:text="${library.usageCount}"></p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="libraryDetailsCell">
                        <div class="libraryDatesContainerGrid">
                            <p class="detailsText">Datum vytvoření: </p>
                            <p class="detailsTextDate" th:text="${T(com.janseris.bp.webApp.ControllerUtilities).getFormattedDate(library.dateCreated)}"></p>
                            <p class="detailsText">Datum posledního použití: </p>
                            <p class="detailsTextDate" th:text="${T(com.janseris.bp.webApp.ControllerUtilities).getFormattedDate(library.lastDateUsed)}"></p>
                            <p class="detailsText">Datum poslední změny: </p>
                            <p class="detailsTextDate" th:text="${T(com.janseris.bp.webApp.ControllerUtilities).getFormattedDate(library.lastDateModified)}"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="libraryDetailsCell">
                        <label for="publicAccessibilityField">Přístupnost knihovny (oprávnění k použití):</label>
                        <select id="publicAccessibilityField" name="publicAccessibility">
                            <option value="private" th:selected="*{publicAccessibility.ordinal() == 0}">Soukromá</option>
                            <option value="public" th:selected="*{publicAccessibility.ordinal() == 1}">Veřejná</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="libraryDetailsCell">
                        <label for="contentSourceTypeField">Vyberte vstup z textového pole nebo ze souboru:</label>
                        <select id="contentSourceTypeField" name="contentSourceType">
                            <option value="textArea" selected="selected">Textové pole</option>
                            <option value="file">Soubor</option>
                        </select><br>

                        <label for="libraryTextContentsField">Obsah (příklady):</label>
                        <textarea name="libraryContentsText" id="libraryTextContentsField" th:field="*{contents}" oninput="setTextFileAccessedFlag()"></textarea><br>

                        <label for="libraryFileInput">Obsah ze souboru:</label>
                        <input type="file" name="libraryFile" id="libraryFileInput" onchange="checkUploadedFileSize()"/><br><br>

                        <input type="hidden" id="textFieldAccessed" name="textFieldAccessed" />

                        <input type="submit" value="Uložit" id="formSubmitButton"/>
                    </td>
                </tr>
            </table>
        </form>

        <div class="centeredContent">
            <form method="GET" th:action="@{/deleteLibraryAssignment}">
                <input type="hidden" name="libraryId" th:value="${libraryId}">
                <button type="submit" class="submitFormButton">
                    <p class="submitButtonTextNoImage">Přejít na mazání po jednotlivých příkladech</p>
                </button>
            </form>
        </div>
        <div class="centeredContent">
            <form method="POST" th:action="@{/deleteLibrary}">
                <input type="hidden" name="libraryId" th:value="${libraryId}">
                <input type="button" onclick="showLibraryDeleteConfirmation()" value="Smazat?"/>
                <input id="libraryConfirmDeleteButton" type="submit" value="Potvrdit smazání" style="display: none;"/>
                <input id="libraryCancelDeleteButton" type="button" onclick="hideLibraryDeleteConfirmation()" value="Zrušit" style="display: none;"/>
            </form>
        </div>
    </div>
</body>

</html>
