<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
    <link rel="shortcut icon" type="image/png" th:href="'/img/logo16darksalmon.png'"/>
    <title>Cvičebnice analytické geometrie online</title>
</head>

<body>
<div th:replace="fragments/fragments :: backgroundImages"></div>
    <div class="centeredHeader">
        <div th:replace="fragments/fragments :: header"></div>

        <div th:replace="fragments/fragments :: links"></div>
        <div class="centeredContent">
            <h2>Chyba</h2>
        </div>

        <div th:replace="fragments/fragments :: messages"></div>
    </div>

    <div class="centeredContent">
        <form method="get" th:action="@{/reportError}">
            <button class="submitFormButton" type="submit"><p class="submitButtonTextNoImage">Nahlásit chybu</p></button>
        </form>
    </div>
</body>
</html>