<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
    <link rel="shortcut icon" type="image/png" th:href="'/img/logo16darksalmon.png'"/>
    <title>Obnovení hesla</title>
</head>
<!-- jak vypisovat objekt ve view: http://itutorial.thymeleaf.org/exercise/12 -->


<body>
<div th:replace="fragments/fragments :: backgroundImages"></div>
    <div class="centeredHeader">
        <div th:replace="fragments/fragments :: header"></div>

        <div th:replace="fragments/fragments :: links"></div>

        <div class="centeredContent">
            <h2>Obnovení hesla</h2>
        </div>
        <div th:replace="fragments/fragments :: messages"></div>
    </div>

    <div class="centeredContent">
        <p>Zadejte, prosím, svůj přihlašovací email, na který bude následně zaslán email k obnově zapomenutého hesla:</p>

        <div class="basicFlexContainer">
            <form method="post" th:action="@{/resetPassword}">
                <label for="emailFieldId">Váš email:</label>
                <input type="email" id="emailFieldId" name="email" th:value="${previousAttemptEmail != null} ? ${previousAttemptEmail} : ''" autofocus>
                <button type="submit" class="inlineSubmitFormButton">
                    <p class="submitButtonText">Odeslat požadavek</p>
                    <img src="img/send24.png">
                </button>
            </form>
        </div>
    </div>
</body>
</html>
