<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
    <link rel="shortcut icon" type="image/png" th:href="'/img/logo16darksalmon.png'"/>
    <title>Přihlášení</title>
</head>
<!-- jak vypisovat objekt ve view: http://itutorial.thymeleaf.org/exercise/12 -->


<body>
<div th:replace="fragments/fragments :: backgroundImages"></div>
    <div class="centeredHeader">
        <div th:replace="fragments/fragments :: header"></div>

        <div th:replace="fragments/fragments :: links"></div>

        <div class="centeredContent">
            <h2>Přihlášení</h2>
        </div>

        <div th:replace="fragments/fragments :: messages"></div>
    </div>

    <div class="centeredContent">
        <div class="basicFlexContainer">
            <form method="post" th:action="@{/login}">
                <label for="emailFieldId" class="registrationLabel">Email:</label>
                <input type="text" id="emailFieldId" name="email" class="registrationInput" th:value="${previousLoginAttemptEmail != null} ? ${previousLoginAttemptEmail} : ''" autofocus>
                <label for="passwordFieldId" class="registrationLabel">Heslo:</label>
                <input type="password" name="password" id="passwordFieldId" class="registrationInput" th:value="${previousLoginAttemptPassword != null} ? ${previousLoginAttemptPassword} : ''">
                <button type="submit" class="submitFormButton">
                    <p class="submitButtonText">Přihlásit</p>
                    <img src="img/send24.png">
                </button>
            </form>
        </div>
        <a th:href="@{/forgottenPassword}">Zapomněl(a) jsem heslo</a>
    </div>
</body>

</html>
