<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link type="text/css" th:href="'css/style.css'" rel="stylesheet" />
    <script type="text/javascript" th:src="'js/scripts.js'"></script>
    <link rel="shortcut icon" type="image/png" th:href="'/img/logo16darksalmon.png'"/>
    <title>Cvičebnice analytické geometrie online</title>
</head>

<body>
<div th:replace="fragments/fragments :: backgroundImages"></div>
    <div class="centeredHeader">
        <div th:replace="fragments/fragments :: header"></div>

        <div th:replace="fragments/fragments :: links"></div>

        <div class="centeredContent">
            <h2>Nahlášení chyby</h2>
        </div>

        <div th:replace="fragments/fragments :: messages"></div>
    </div>

    <div class="centeredContent">
        <h4>Zde můžete nahlásit chybu administrátorovi</h4>
        <form method="post" th:action="@{/reportError}">
            <label for="senderField">Vaše jméno:</label>
            <input type="text" id="senderField" name="sender" autofocus>
            <label for="errorDetails" style="display: block;">Text zprávy:</label>
                <!-- pokud už login DTO má zadané data, zobrazí se přímo v login form, aby uživatel nemusel při opravě špatného loginu psát všechno znova, ale při prvním pokusu jsou ty fields prázdné -->
            <textarea cols="30" rows="8" name="errorDetails" id="errorDetails" placeholder="Popis chyby:"></textarea>
            <button type="submit" class="submitFormButton">
                <p class="submitButtonText">Odeslat popis problému</p>
                <img src="img/send24.png">
            </button>
        </form>
    </div>
</body>
</html>